<!-- Category template -->
<html>
<head>
	<!-- css -->
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
</head>

	<body>
		<!-- Content to show -->
    <h1>{{category.name}} ({{itemssize}})</h1>
    <!-- List all items in that category -->
	  {% for i in items %}
        <p><a href = '/categories/{{category.id}}/items/{{i.id}}/' style="color:#ebebe0">{{i.name}}</a></p>
    {% endfor %}
		<!-- If user is login show add item button-->
		{% if login == 1 %}
			<p style="padding-left: 0px"><a href = '/categories/{{category.id}}/items/new/' style="color:#99ffcc">add</a></p>
		{% endif %}
		<p style="padding-left: 0px"><a href = '/categories/' style="color:#cc3300">back</a></p>
</body>

</html>
