<!-- Categories Template-->
<html>
<head>
	<!-- necessary for css styling, google auth, ajax request-->
	<meta name="google-signin-client_id" content="571631543423-6celfpf7k764o9u85jfhv10q48o3nqbo.apps.googleusercontent.com">
	<script src="https://apis.google.com/js/platform.js" async defer></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
</head>
	<body>
		<!-- Content to show -->
		<h1>Categories</h1>
		<!-- Show flash messages -->
		{% with messages = get_flashed_messages() %}
		{% if messages %}
			<!--{% for message in messages %}-->
				<p style="color: red; font-size: 125%;" id="flashmessage"><img src="https://cdn2.iconfinder.com/data/icons/color-svg-vector-icons-2/512/error_warning_alert_attention-512.png" width="25" height="25"><img src="https://cdn2.iconfinder.com/data/icons/color-svg-vector-icons-2/512/error_warning_alert_attention-512.png" width="25" height="25"><img src="https://cdn2.iconfinder.com/data/icons/color-svg-vector-icons-2/512/error_warning_alert_attention-512.png" width="25" height="25"> {{messages[0]}} <img src="https://cdn2.iconfinder.com/data/icons/color-svg-vector-icons-2/512/error_warning_alert_attention-512.png" width="25" height="25"><img src="https://cdn2.iconfinder.com/data/icons/color-svg-vector-icons-2/512/error_warning_alert_attention-512.png" width="25" height="25"><img src="https://cdn2.iconfinder.com/data/icons/color-svg-vector-icons-2/512/error_warning_alert_attention-512.png" width="25" height="25"></p>
			<!--{% endfor %}-->
		{% endif %}
		{% endwith %}
		<section class="container">
			<div class = 'listcat'>
    		<!-- List all categories -->
	   		{% for i in categories %}
        	<p><a href = '/categories/{{i.id}}/' style="color:#ebebe0">{{i.name}}</a></p>
      	{% endfor %}
	 		</div>
			<div class = 'latitems'>
				<!-- List latest items -->
				<h2>Latest Items:</h2>
				{% for i in latestitems %}
			 		<p><a href = '/categories/{{i.category.id}}/items/{{i.id}}/' style="color:black">{{i.name}} ({{i.category.name}})</a></p>
				{% endfor %}
			</div>
		</section>
		</br>
		<!-- google signin button-->
		<div class="g-signin2" id="signinButton" data-onsuccess="onSignIn"></div>

		<!-- javascript for signin action-->
		<script>
		function onSignIn(googleUser) {
			// hide button
			$('#signinButton').hide();
			$('#signoutButton').show();
			$('#flashmessage').hide();
			var profile = googleUser.getBasicProfile();
			//alert('Name: ' + profile.getName());
			$.post('/gconnect', ""+profile.getName()+"#~#"+profile.getEmail(), function(data, status){});
		}
		</script>
		<!-- logout button-->
		<a href="#" onclick="signOut();" id="signoutButton" style="color:#cc3300"><img src="https://png.icons8.com/ios/1600/logout-rounded-filled.png" width="30" height="30"> Signout</a>

		<!-- javascript logout action-->
		<script>
		//don't show logout button initially
		$('#signoutButton').hide();
		function signOut() {
			$('#signinButton').show();
			var auth2 = gapi.auth2.getAuthInstance();
    	auth2.signOut().then(function () {
      	console.log('User signed out.');
    	});
			$.post('/gdisconnect', null, function(data, status){});
			$('#signoutButton').hide();
		}
		</script>

</body>

</html>
