body {
    background-image: url("https://www.playoncourts.com/cmss_files/imagelibrary/Header_Images/synthetic-gym-flooring-5.jpg");

}

@font-face {
    font-family: Sports1;
    src: url(Sports-World-Regular.ttf);
}
@font-face {
    font-family: Sports2;
    src: url(sportsjersey.ttf);
}
h1 {
  color: #d6d6c2;
  font-family: Sports1;
  font-size: 300%;
}
h2 {
  color: #ebebe0;
  font-family: Sports1;
  font-size: 200%;
}

section.container {

}
div.listcat {
  width: 30%;
  float: left;
}

div.latitems {
  margin-left: 30%;
}
p {
  font-family: Sports1;
  padding-left: 30px;
  font-size: 135%;
}
